* {
    font-family: 'Nunito Sans';
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

body {
    margin: 0;
    padding: 0;
    background-color: #080808;
    color: #F1F1F1;
}

/* Uklanja strelice iz input polja tipa number u Chrome, Safari, Edge i Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Uklanja strelice iz input polja tipa number u Firefox-u */
input[type="number"] {
    -moz-appearance: textfield;
}

.title {
    font-size: 30px;
    font-weight: 900;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    background: linear-gradient(to right, #6C2C91 0%, #C41C78 69.44%, #6C1C46 100%);
}

::-webkit-scrollbar {
    width: 0;
}

.temperature {
    position: absolute;
    top: 5%;
    right: 1%;
    font-size: 15px;
}

.blur {
    position: absolute;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    z-index: 1;
}

.checkmark {
    color: white;
    height: 45px;
    width: 45px;
    margin-bottom: 25px;
}

.popup {
    height: 250px;
    width: 300px;
    background-color: #080808;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popuptext {
    color: white;
    text-align: center;
    width: 80%;
}

.btnok {
    color: black;
    background-color: white;
    padding: 7px;
    border-radius: 5px;
    width: 60px;
    height: fit-content;
    text-align: center;
    font-weight: bold;
    margin-top: 25px;
}

.btnok:hover {
    cursor: pointer;
}

.hidden {
    display: none;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#userName {
    text-transform: uppercase;
}

.logoVideo {
    width: 90%;
    max-width: 1200px;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.logo {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo svg {
    width: 200px;
}

.myVideo {
    border-width: 5px;
    border-style: solid;
    border-image: linear-gradient(90deg,
            #6c2c91 0%,
            #c41c78 69.44%,
            #6c1c46 100%);
    border-image-slice: 1;
}

.imgBtn img {
    width: 500px;
}

.videoBtn,
.imgBtn {
    display: flex;
    flex-direction: column;
}

.videoBtn button,
.imgBtn button {
    border: none;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    background: linear-gradient(to right, #6C2C91 0%, #C41C78 69.44%, #6C1C46 100%);
}

.hidden {
    display: none;
}

.personalDetails {
    width: 100%;
    max-width: 1200px;
    margin: 0;
    margin-bottom: 50px;
}

.titleEnterDetails {
    text-align: center;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 25px;
    margin: 0;
}

.contentDetails {
    display: flex;
    text-align: center;
    margin: 0;
}

.contentDetailsS {
    display: flex;
    text-align: center;
    margin: 0;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
}

.left,
.right {
    flex-basis: 50%;
}

.left {
    margin-bottom: 10px;
}

.right {
    flex-basis: 35%;
    margin-left: auto;
    margin-right: auto;
}

.linija {
    height: 2px;
    background: linear-gradient(90deg,
            #6c2c91 0%,
            #c41c78 69.44%,
            #6c1c46 100%);
    margin-top: 2px;
    margin-bottom: 30px;
    width: 100%;
}

.leftInput,
.rightInput {
    border-width: 3px;
    border-style: solid;
    border-image: linear-gradient(90deg,
            #6c2c91 0%,
            #c41c78 69.44%,
            #6c1c46 100%);
    border-image-slice: 1;
    width: 60%;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
}

.rightInput {
    width: 100%;
}

.leftInput input,
.rightInput input {
    background-color: transparent;
    border: none;
    width: 100%;
    color: white;
    outline: none;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.left p,
.right p {
    font-size: 20px;
    margin: 0;
    margin-bottom: 10px;
    font-weight: 600;
}

.buttonPersDetails {
    display: flex;
    justify-content: space-between;
}

#saveButton,
#deleteButton,
#saveButtonS,
#deleteButtonS {
    border: none;
    padding: 10px 80px;
    color: white;
    font-size: 23px;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    margin-top: 40px;
    background: linear-gradient(to right, #6C2C91 0%, #C41C78 69.44%, #6C1C46 100%);
}

#saveButton,
#saveButtonS {
    width: 55%;
}

#deleteButton,
#deleteButtonS {
    width: 42%;
}

.healthStatistics {
    width: 100%;
    max-width: 1200px;
    margin: 0;
    margin-bottom: 50px;
}

.contentHealthStatistics {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.healthStatisticsDiv {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.BMI,
.bodyFat,
.bodyType,
.idealWeight {
    padding: 20px;
    display: flex;
    width: 45%;
    margin: 10px;
}

.BMIicon svg,
.bodyFaticon svg,
.bodyTypeicon svg,
.idealWeighticon svg {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
}

.BMIvalues p,
.bodyFatvalues p,
.bodyTypeValues p,
.idealWeightValues p {
    margin: 0;
    font-weight: 800;
    font-size: 20px;
    margin-top: 10px;
}

.BMIvalues span,
.bodyFatvalues span,
.idealWeightValues span,
.bodyTypeValues span {
    font-size: 17px;
    font-weight: 600;
}

.labelInput {
    width: 90%;
    max-width: 1200px;
    margin-bottom: 50px;
}

.readyToDoPushUpsLeft,
.readyToDoPushUpsRight {
    display: flex;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.readyToDoPushUpsRight {
    margin-top: 20px;
}

.leftPushUps {
    width: 45%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.leftPushUps p {
    margin: 0;
    text-align: center;
    font-size: 22px;
    font-weight: 800;
    padding: 5px;
}

#metP {
    font-weight: 100;
    font-size: 18px;
}

.acitivities {
    width: 80%;
}

.notificationsContainer,
.notificationsContainerSquat {
    margin-top: 10px;
    width: 100%;
    height: 450px;
    overflow-y: scroll;
    margin: 0;
    margin-bottom: 50px;
}

.red {
    width: 80%;
    display: flex;
}

.prvii,
.drugii,
.trecii,
.cetvrtii,
.petii {
    display: flex;
    width: 25%;
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(90deg,
            #6c2c91 0%,
            #c41c78 69.44%,
            #6c1c46 100%);
    border-image-slice: 1;
}

.prvii p,
.drugii p,
.trecii p,
.cetvrtii p,
.petii p {
    font-size: 22px;
    font-weight: 800;
    margin-left: auto;
    margin-right: auto;
}

.prvi,
.drugi,
.treci,
.cetvrti,
.peti,
.ugasi {
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(90deg,
            #6c2c91 0%,
            #c41c78 69.44%,
            #6c1c46 100%);
    border-image-slice: 1;

}

.notifikacija {
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 80%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.ugasi {
    position: absolute;
    right: -40px;
    top: 40%;
    width: 30px;
    text-align: center;
    cursor: pointer;
}

canvas {
    background-color: #101010;
}

#myChart,
#myChartSquat {
    margin: 0 auto;
}

@media only screen and (max-width: 1200px) {
    .title {
        font-size: 24px;
    }

    .titleEnterDetails {
        font-size: 28px;
    }

    .temperature {
        font-size: 12px;
        top: 4%;
    }

    .temperature span {
        font-size: 12px;
    }

    /*Ovo provjeriti*/

    .popup {
        height: 200px;
        width: 250px;
    }

    .btnok {
        width: 50px;
    }

    .logoVideo {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        margin-bottom: 20px;
        width: 80%;
    }

    .logo svg {
        width: 150px;
    }

    .contentHealthStatistics {
        width: 80%;
    }

    .healthStatisticsDiv {
        width: 100%;
    }

    .labelInput {
        width: 100%;
    }

    .readyToDoPushUpsLeft,
    .readyToDoPushUpsRight {
        width: 100%;
        flex-direction: column;
    }

    .leftPushUps {
        width: 80%;
    }


    .acitivities {
        width: 100%;
    }

    .notificationsContainer,
    .notificationsContainerSquat {
        width: 100%;
    }

    .red {
        width: 90%;
    }

    .prvii,
    .drugii,
    .trecii,
    .cetvrtii,
    .petii {
        width: 20%;
    }

    .prvii p,
    .drugii p,
    .trecii p,
    .cetvrtii p,
    .petii p {
        font-size: 15px;
    }

    .prvi,
    .drugi,
    .treci,
    .cetvrti,
    .peti,
    .ugasi {
        font-size: 15px;

    }

    .notifikacija {
        height: 60px;
        width: 90%;
    }

    .ugasi {
        position: absolute;
        right: -20px;
        top: 30%;
        width: 20px;
        text-align: center;
        cursor: pointer;
    }
}

@media only screen and (max-width: 850px) {
    .title {
        font-size: 15px;
    }

    .titleEnterDetails {
        font-size: 20px;
    }

    .contentDetails {
        flex-direction: column;
    }

    .contentDetailsS {
        flex-direction: column;
        width: 100%;
    }

    .right {
        width: 100%;
    }

    .leftInput,
    .rightInput {
        width: 60%;
    }

    .leftInput input,
    .rightInput input {
        font-size: 18px;
    }

    .left p,
    .right p {
        font-size: 18px;
    }

    .buttonPersDetails {
        flex-direction: column;
        align-items: center;
        margin-top: 40px;
    }

    #saveButton,
    #deleteButton,
    #saveButtonS,
    #deleteButtonS {
        width: 80%;
        padding: 10px 40px;
        font-size: 18px;
    }

    .contentHealthStatistics {
        width: 80%;
    }

    .healthStatisticsDiv {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .BMI,
    .bodyFat,
    .bodyType,
    .idealWeight {
        width: 80%;
    }

    .BMIicon svg,
    .bodyFaticon svg,
    .bodyTypeicon svg,
    .idealWeighticon svg {
        width: 80px;
        height: 80px;
    }

    .BMIvalues p,
    .bodyFatvalues p,
    .bodyTypeValues p,
    .idealWeightValues p {
        font-size: 18px;
    }

    .BMIvalues span,
    .bodyFatvalues span,
    .bodyTypeValues span,
    .idealWeightValues span {
        font-size: 15px;
    }

    .leftPushUps p {
        font-size: 20px;
    }

    #metP {
        font-size: 15px;
    }

    .leftPushUps input {
        font-size: 15px;
    }
}

@media only screen and (max-width: 500px) {

    .title {
        font-size: 12px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .temperature {
        font-size: 10px;
        top: 2%;
    }


    .temperature span {
        font-size: 10px;
    }

    .logoVideo {
        width: 80%;
    }

    .logo svg {
        width: 100px;
    }

    .imgBtn img,
    .videoBtn video {
        width: 300px;
    }

    .titleEnterDetails {
        font-size: 20px;
    }

    .leftInput,
    .rightInput {
        width: 80%;
    }

    .leftInput input,
    .rightInput input {
        font-size: 15px;
    }

    .left p,
    .right p {
        font-size: 15px;
    }

    .buttonPersDetails {
        margin-top: 20px;
    }

    #saveButton,
    #deleteButton,
    #saveButtonS,
    #deleteButtonS {
        width: 95%;
        padding: 10px 20px;
        font-size: 15px;
    }

    .BMIicon svg,
    .bodyFaticon svg,
    .bodyTypeicon svg,
    .idealWeighticon svg {
        width: 80px;
        height: 80px;
    }

    .BMIvalues p,
    .bodyFatvalues p,
    .bodyTypeValues p,
    .idealWeightValues p {
        font-size: 18px;
    }

    .BMIvalues span,
    .bodyFatvalues span,
    .bodyTypeValues span,
    .idealWeightValues span {
        font-size: 15px;
    }

    .leftPushUps p {
        font-size: 18px;
    }

    #metP {
        font-size: 15px;
    }

    .leftPushUps input {
        font-size: 15px;
    }

    .notificationsContainer,
    .notificationsContainerSquat {
        width: 90%;
    }

    .red {
        width: 90%;
    }

    .prvii p,
    .drugii p,
    .trecii p,
    .cetvrtii p,
    .petii p {
        font-size: 8px;
    }

    .prvi,
    .drugi,
    .treci,
    .cetvrti,
    .peti,
    .ugasi {
        font-size: 8px;
    }

    .notifikacija {
        height: 50px;
        width: 100%;
    }

    .ugasi {
        right: -18px;
        top: 20%;
        width: 15px;
    }

    .healthStatisticsDiv {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
}