@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
    font-family: 'Ubuntu';
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

body {
    margin: 0;
    padding: 0;
    background-color: #080808;
    color: #F1F1F1;
}

.title {
    background-image: linear-gradient(to right, #BC6FF1, #52057B);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.5em;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 10px;
}

::-webkit-scrollbar {
    width: 0;
}

.temperature {
    position: absolute;
    top: 20%;
    right: 10%;
    font-size: 1.2rem;
}

.left-sidebar {
    position: absolute;
    top: 20%;
    left: 5%;
}

.banner {
    position: relative;
    width: 200px;
    height: 600px;
    background-color: #52057B;
    background-image: linear-gradient(45deg, #52057B, #892CDC, #BC6FF1);
    overflow: hidden;
    border-radius: 10px;
}

.banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: transparent;
    text-align: center;
    z-index: 1;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.banner-content h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    -webkit-text-stroke: 1px white;
    -webkit-text-fill-color: #fff;
    font-family: 'Lobster', cursive;
}

.banner-decoration {
    position: absolute;
    bottom: -50%;
    left: 50%;
    transform: translateX(-50%);
    width: 150%;
    height: 100%;
    background-color: #52057B;
    clip-path: polygon(0 0, 50% 50%, 100% 0, 100% 100%, 0 100%);
    animation: swing 3s infinite alternate;
}

@keyframes swing {
    0% {
        transform: translateX(-50%) rotate(0deg);
    }

    100% {
        transform: translateX(-50%) rotate(10deg);
    }
}

.blur {
    position: absolute;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    z-index: 1;
}

.checkmark {
    color: #BC6FF1;
    height: 45px;
    width: 45px;
    margin-bottom: 25px;
}

.popup {
    height: 250px;
    width: 300px;
    background-color: #080808;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popuptext {
    color: #BC6FF1;
    text-align: center;
    width: 80%;
}

.btnok {
    color: black;
    background-color: #BC6FF1;
    padding: 7px;
    border-radius: 5px;
    width: 60px;
    height: fit-content;
    text-align: center;
    font-weight: bold;
    margin-top: 25px;
}

.btnok:hover {
    color: #F1F1F1;
    cursor: pointer;
}

.hidden {
    display: none;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imagePushUp,
.imageSquat {
    margin-top: 20px;
    margin-bottom: 20px;
}

img {
    width: 500px;
    height: 300px;
    border-radius: 10px;
}

.hidden {
    display: none;
}

.personalDetails {
    width: 40%;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #52057B;
    border-radius: 10px;
    margin-bottom: 20px;
}

.titleEnterDetails {
    text-align: center;
    letter-spacing: 1px;
}

.contentDetails {
    display: flex;
    justify-content: space-evenly;
}

.left,
.middle,
.right {
    flex-basis: 30%;
}

.middle {
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
}

.personalDetails input {
    border: none;
    width: 90%;
    padding: 5px;
    border-radius: 5px;
    background-color: #52057B;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    transition: transform 0.2s, background-color 0.2s;
}

.personalDetails input:focus {
    background-color: #892CDC;
    transform: scale(1.05);
}

.personalDetails label {
    font-size: 1.2rem;
}

.buttonPersDetails {
    display: flex;
    justify-content: space-between;
}

#saveButton,
#deleteButton,
#saveButtonS,
#deleteButtonS {
    border: none;
    padding: 8px 10px;
    border-radius: 5px;
    background-color: #52057B;
    color: white;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: bold;
    transition: transform 0.2s, background-color 0.2s, box-shadow 0.3s;
    cursor: pointer;
    width: 35%;
    margin-top: 20px;
    box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.2);
}

#saveButton:hover {
    background-color: #892CDC;
    transform: translateY(-2px);
    box-shadow: 0px 8px 16px rgba(255, 255, 255, 0.2);
}

#deleteButton:hover {
    background-color: red;
    transform: translateY(-2px);
    box-shadow: 0px 8px 16px rgba(255, 255, 255, 0.2);
}

.healthStatistics {
    width: 40%;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #52057B;
    border-radius: 10px;
}

.healthStatisticsDiv {
    display: flex;
    justify-content: space-between;
}

.BMI,
.bodyFat,
.bodyType,
.idealWeight {
    border-left: 4px solid #BC6FF1;
    border-radius: 2px;
    padding: 20px;
    display: flex;
    width: 45%;
    margin: 10px;
    box-shadow: 0 8px 16px rgba(173, 164, 164, 0.2);
}

.BMIicon img,
.bodyFaticon img,
.bodyTypeicon img,
.idealWeighticon img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
}

.BMIvalues p,
.bodyFatvalues p,
.bodyTypeValues p,
.idealWeightValues p {
    margin: 0;
}

.labelInput {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #52057B;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.labelInput input {
    border: none;
    width: 90%;
    padding: 5px;
    border-radius: 5px;
    background-color: #52057B;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    transition: transform 0.2s, background-color 0.2s;
}

.labelInput input:focus {
    background-color: #892CDC;
    transform: scale(1.05);
}

.labelInput input[readonly] {
    pointer-events: none;
    background-color: #52057B;
}


.labelInput label {
    font-size: 1.2rem;
    margin-bottom: 5px;
}


.notificationsContainer,
.notificationsContainerSquat {
    margin-top: 10px;
    width: 100%;
    height: 450px;
    overflow-y: scroll;
    margin: 0;
    margin-bottom: 50px;
}

.prvi,
.drugi,
.treci,
.cetvrti,
.peti,
.ugasi {
    display: flex;
    flex-direction: column;
    color: #BC6FF1;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
}

.notifikacija {
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 80%;
    background-color: #101010;
    padding: 10px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border-bottom: dashed;
    border-color: #52057B;
}

.ugasi {
    position: absolute;
    right: -40px;
    top: 40%;
    width: 25px;
    text-align: center;
    border: 2px solid #BC6FF1;
    cursor: pointer;
    background-color: #101010;
    color: #BC6FF1;
    border-radius: 5px;
}

#totalPushUps,
#totalCalories {
    font-size: 1.2rem;
}

canvas {
    background-color: #101010;
}

#myChart,
#myChartSquat {
    margin: 0 auto;
}


@media screen and (max-width: 1024px) {
    .title {
        text-align: center;
    }

    .container {
        max-width: 100%;
        overflow-x: hidden;
    }

    .left-sidebar {
        display: none;
    }

    .banner {
        width: 100%;
        height: auto;
    }

    .banner-content {
        font-size: 1.5em;
    }

    .banner-decoration {
        display: none;
    }

    .buttonPersDetails {
        flex-direction: column;
        align-items: center;
    }

    #saveButton,
    #deleteButton {
        width: 35%;
        margin-bottom: 10px;
    }

    .personalDetails,
    .healthStatistics,
    .labelInput {
        width: 90%;
    }

    img {
        width: 100%;
        display: block;
        margin: 0 auto;
    }

    .BMI,
    .bodyFat,
    .bodyType,
    .idealWeight {
        width: 90%;
    }

    .labelInput input,
    .labelInput label {
        width: 90%;
        text-align: center;
    }

    .ugasi {
        right: 10px;
        left: initial;
        width: auto;
        top: initial;
        top: 50%;
        transform: translateX(0);
    }

    .notificationsContainer,
    .notificationsContainerSquat {
        height: auto;
        overflow-y: visible;
    }

}

@media screen and (max-width: 768px) {

    .temperature {
        display: none;
    }

    .contentDetails {
        flex-direction: column;
        align-items: center;
    }

    .left,
    .middle,
    .right {
        flex-basis: 100%;
        margin-bottom: 20px;
        width: 90%;
        text-align: center;
    }

    #saveButton,
    #deleteButton {
        width: 90%;
    }

    .healthStatisticsDiv {
        flex-direction: column;
        align-items: center;
    }

    .notifikacija {
        flex-direction: column;
        height: auto;
        width: 90%;
    }

    #myChart {
        scale: 0.4;
    }
}
