* {
    font-family: 'Ubuntu';
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

body {
    margin: 0;
    padding: 0;
    background-color: #080808;
    color: #F1F1F1;
    overflow: hidden;
}

.left-sidebar {
    position: absolute;
    top: 20%;
    left: 5%;
}

.banner {
    position: relative;
    width: 200px;
    height: 600px;
    background-color: #52057B;
    /* Početna boja je #52057B */
    background-image: linear-gradient(45deg, #52057B, #892CDC, #BC6FF1);
    /* Gradient boja */
    overflow: hidden;
    border-radius: 10px;
}

.banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: transparent;
    /* Tekst boje postavljen na transparentno */
    text-align: center;
    z-index: 1;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    /* Sjena ispod teksta */
}

.banner-content h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    -webkit-text-stroke: 1px white;
    /* 3D efekat za slova */
    -webkit-text-fill-color: #fff;
    /* Boja teksta */
    font-family: 'Lobster', cursive;
}

.banner-decoration {
    position: absolute;
    bottom: -50%;
    left: 50%;
    transform: translateX(-50%);
    width: 150%;
    height: 100%;
    background-color: #52057B;
    /* Početna boja je #1abc9c */
    clip-path: polygon(0 0, 50% 50%, 100% 0, 100% 100%, 0 100%);
    animation: swing 3s infinite alternate;
}

@keyframes swing {
    0% {
        transform: translateX(-50%) rotate(0deg);
    }

    100% {
        transform: translateX(-50%) rotate(10deg);
    }
}


#startScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 98vh;
}

.btnStartScreen {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

button {
    background-color: #52057B;
    color: #c8a4e0;
    padding: 10px 25px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    letter-spacing: 2px;
    box-shadow: 0 5px 11px #BC6FF1;
    font-size: 1.2rem;
    transition-duration: 0.4s;
    font-weight: bold;
    text-transform: uppercase;
}

button:hover {
    background-color: #212121;
    color: #BC6FF1;
    transform: scale(1);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    position: relative;
}

button::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    /* Debljina crte */
    background-color: #BC6FF1;
    bottom: -2px;
    /* Razmak od dna buttona */
    left: 0;
    transform: scaleX(0);
    transition: transform 0.5s ease;
}

button:hover::before {
    transform: scaleX(1);
}

h1 {
    background-image: linear-gradient(to right, #BC6FF1, #52057B);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.5em;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 10px;
}

@media only screen and (max-width: 900px) {
    .btnStartScreen {
        width: 90%;
    }

    h1 {
        text-align: center;
    }
}

@media only screen and (max-width: 500px) {
    .btnPush {
        margin-right: 5px;
    }

}